<p id="notice"><%= notice %></p>

<h1>Ilces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Il</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ilces.each do |ilce| %>
      <tr>
        <td><%= ilce.name %></td>
        <td><%= ilce.description %></td>
        <td><%= ilce.il_id %></td>
        <td><%= link_to 'Show', ilce %></td>
        <td><%= link_to 'Edit', edit_ilce_path(ilce) %></td>
        <td><%= link_to 'Destroy', ilce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ilce', new_ilce_path %>
