<p id="notice"><%= notice %></p>

<h1>Property Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_statuses.each do |property_status| %>
      <tr>
        <td><%= property_status.name %></td>
        <td><%= link_to 'Show', property_status %></td>
        <td><%= link_to 'Edit', edit_property_status_path(property_status) %></td>
        <td><%= link_to 'Destroy', property_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Status', new_property_status_path %>
