
    <div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1910px 1205.69px; background-position: 50% -712.366px;"><div class="parallax-overlay" style="background-color: rgb(48, 48, 48); opacity: 0.8;"></div>
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Log In</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="">Home</a></li>
                <li>Log In</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="my-account">
          <div class="tabs-container"> 
            <!-- Login -->
			  <div class="utf-welcome-text-item">
				<h3>Welcome Back Sign in to Continue</h3>
				<span>Don't Have an Account?  </span>  <%= render "devise/shared/links" %>
			  </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
                <div class="form-row form-row-wide">
                   <%= f.label :email %>
                   <%= f.email_field :email, autofocus: true, class: "input-text", autocomplete: "email" %>  
                </div>
                <div class="form-row form-row-wide">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "current-password" , class: 'input-text'%>
                </div>
                <div class="form-row">
                  <div class="checkbox margin-top-10 margin-bottom-10">
                  <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                   <% end %>
				          </div>
                </div>
				 <%= f.submit "Log in" , class: 'button full-width border margin-top-10' %> 
				<div class="utf-social-login-separator-item"><span>or</span></div>
				<div class="utf-social-login-buttons-block">
					<button class="button social-login via-twitter"><i class="icon-brand-facebook-f"></i> Facebook</button>
					<button class="button social-login via-gplus"><i class="icon-brand-google-plus-g"></i> Google+</button>
					<button class="button social-login via-facebook"><i class="icon-brand-twitter"></i> Twitter</button>
				</div>	
             <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
