<p id="notice"><%= notice %></p>

<h1>Ils</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Capital</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ils.each do |il| %>
      <tr>
        <td><%= il.name %></td>
        <td><%= il.description %></td>
        <td><%= il.capital %></td>
        <td><%= il.country_id %></td>
        <td><%= link_to 'Show', il %></td>
        <td><%= link_to 'Edit', edit_il_path(il) %></td>
        <td><%= link_to 'Destroy', il, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Il', new_il_path %>
