<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @il.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @il.description %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @il.capital %>
</p>

<p>
  <strong>Country:</strong>
  <%= @il.country_id %>
</p>

<%= link_to 'Edit', edit_il_path(@il) %> |
<%= link_to 'Back', ils_path %>
