<p id="notice"><%= notice %></p>


<div class="container">

<h1>Contact messages</h1>

        <table class="table">
          <tbody>
          
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    <h3> <%= will_paginate @contactmessages %> </h3>
  </thead>

  <tbody>
    <% @contactmessages.each do |contactmessage| %>
      <tr>
        <td ><%= contactmessage.first_name %></td>
        <td><%= contactmessage.last_name %></td>
        <td><%= contactmessage.email %></td>
        <td><%= contactmessage.subject %></td>
        <td width = "50%"><%= contactmessage.message.truncate(150) %></td>
        <td><%= contactmessage.status %></td>
        <td><%= link_to 'Show', contactmessage %></td>
        <td><%= link_to 'Edit', edit_contactmessage_path(contactmessage) %></td>
        <td><%= link_to 'Destroy', contactmessage, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactmessage', new_contactmessage_path, class: 'button' %>
